<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-4.2.xsd
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd">
	<!-- 注解扫描 -->
	<context:component-scan base-package="com.etoak">
		<context:include-filter type="annotation" 
		expression="org.springframework.stereotype.Controller"/>
		<context:include-filter type="annotation" expression="org.springframework.web.bind.annotation.RestController"/>
		<context:include-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Service"/>
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Repository"/>
	</context:component-scan>
	<!--开启mvc配置  -->
	<mvc:annotation-driven></mvc:annotation-driven>
	<!--静态资源  -->
	<mvc:default-servlet-handler/>
	<!--定义图片的位置  -->
	<mvc:resources location="file:C:/upload/" mapping="/pic/**"></mvc:resources>
	<!--整合thy  -->
	<bean id="templateResolver"
	class="org.thymeleaf.spring5.templateresolver.SpringResourceTemplateResolver">
	<property name="prefix" value="/templates/" />
	<property name="suffix" value=".html" />
	<property name="characterEncoding" value="UTF-8" />
	<property name="templateMode" value="HTML" />
	<!--开发环境下设置成false 方便调试  -->
	<property name="cacheable" value="false" />
	</bean>
	<!--解析器  -->
	<bean id="templateEngine"
	class="org.thymeleaf.spring5.SpringTemplateEngine">
	<property name="templateResolver" ref="templateResolver" />
	</bean>
	
	<bean 
	class="org.thymeleaf.spring5.view.ThymeleafViewResolver">
		<property name="templateEngine" ref="templateEngine" />
		<property name="characterEncoding" value="UTF-8" />
	</bean>
	<!--文件上传解析器  web相关 在mvc 
		 必须是-》id="multipartResolver" 
	 -->
	<bean id="multipartResolver" 
	class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
	<property name="maxUploadSize" value="2097152" />
	</bean>
	<!--拦截
		@RequestMapping("/tolist")
		public String toList() {
			return "car/list";-》 view-name="car/list"
		} 
		相当于直接跳转的页面
	 -->
	<mvc:view-controller path="/" view-name="index"/>
	<mvc:view-controller path="/user/toLogin" view-name="login"/>
	<!-- 拦截 -->
	<mvc:interceptors>
		<mvc:interceptor>
			<!--  -->
			<mvc:mapping path="/**"/>
			<mvc:exclude-mapping path="/static/**"/>
			<mvc:exclude-mapping path="/code"/>
			<mvc:exclude-mapping path="/user/toLogin"/>
			<mvc:exclude-mapping path="/user/login"/>
			<!-- 配置拦截器 -->
			<bean class="com.etoak.interceptor.LoginInterceptor"></bean>
		</mvc:interceptor>
	</mvc:interceptors>
</beans>




































